<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
  <!-- Angular Material Dependencies -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-sanitize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>

  <script src="csv.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-csv/0.3.6/ng-csv.js"></script>

  <link rel="stylesheet" href="style.css" />
  <script src="app.js"></script>
</head>

<body ng-app="plnkrApp" ng-controller="DemoController">
  <md-content class="md-padding">
    <md-card>
      <md-card-content>
        <form name="csvForm">
          <h2 class="md-title">CSV/TXT to JSON</h2>
          <md-radio-group ng-model="csv.separator" class="md-primary">
            <md-radio-button ng-repeat="d in radioData" ng-value="d.value" ng-class="{'md-align-top-left': $index==1}">
              {{ d.label }}
              <br/>
            </md-radio-button>
          </md-radio-group>
          <ng-csv-import content="csv.content" header="csv.header" separator="csv.separator" result="csv.result" accept="csv.accept"></ng-csv-import>
          <p ng-if="badExtension">Bad Extension: <strong>{{fileExtension}}</strong></p>

          <div ng-if="hasErrors">
            <p>VIN's must have a length of 17 characters and do not include special characters.</p>
            <table>
              <thead>
                <tr>
                  <th>Line</th>
                  <th>VIN</th>
                  <th>Valid</th>
                  <th></th>
                </tr>
              </thead>
              <tbody ng-repeat="result in sliced">
                <tr>
                  <td>{{result + 1}}</td>
                  <td>
                    <md-input-container>
                      <label>VIN</label>
                      <input name="vin{{$index}}" ng-model="csv.result[result].VIN" required ng-pattern="vinPattern" md-maxlength="17">
                      <div ng-messages="csvForm.{{'vin' + $index}}.$error">
                        <div ng-message="pattern">The VIN must not have special characters</div>
                      </div>
                    </md-input-container>
                  </td>
                  <td>
                    <div ng-show="csvForm.{{'vin' + $index}}.$valid">Valid</div>
                    <div ng-show="csvForm.{{'vin' + $index}}.$invalid">Invalid</div>
                  </td>
                  <td>
                    <md-button class="md-raised md-primary" ng-click="open = !open">More Info</md-button>
                  </td>
                </tr>
                <tr ng-if="open">
                  <td colspan="4">
                    <div layout="column">
                      <md-input-container flex ng-repeat="(key, value) in data = (csv.result[result])">
                        <label>{{key}}</label>
                        <input name="{{key}}{{$index}}" ng-model="data[key]">
                      </md-input-container>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <md-radio-group ng-model="fileExtension" class="md-primary">
              <md-radio-button ng-repeat="d in fileData" ng-value="d.value" ng-class="{'md-align-top-left': $index==1}">
                {{ d.label }}
                <br/>
              </md-radio-button>
            </md-radio-group>
            <md-button class="md-raised md-primary" ng-csv="csv.result" filename="{{fileName}}.{{fileExtension}}" csv-header="indexes" field-separator="{{csv.separator}}" ng-disabled="csvForm.$invalid">Submit</md-button>
          </div>
          <div ng-if="isClean">
            <p>Your VIN's are all valid!</p>
          </div>
        </form>
      </md-card-content>
    </md-card>
  </md-content>
</body>

</html>